*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.section {
    padding: 96px 0;
}

.section-title {
    letter-spacing: 0.02em;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2e2f42;
    text-align: center;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.main-title {
    letter-spacing: 0.02em;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    color: #ffffff;
    text-align: center;
}


/* -----HEADER----- */


.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.page-header .container {
    display: flex;
    /* в одну лінію навігація + контакти */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list, .contacts {
    display: none;
}

.logo-part {
    color: #2e2f42;
}

.header-logo,
.footer-logo {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #4d5ae5;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    
}

.header-logo {
    display: block;
    padding: 16px 0;
}

.burger-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {

    .header-logo {
        margin-right: 120px;
        padding: 24px 0;
    }

    .burger-btn {
        display: none;
    }
    
    .header-nav {
        display: flex;
        align-items: center;
    }
    
    .list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .nav-link {
        display: block;
        position: relative;
        padding: 24px 0;
        color: #2e2f42;
        font-weight: 500;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.active {
        color: #404bbf;
    }

    .current::after {
        bottom: -1px;
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    address {
        font-style: normal;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts {
        display: flex;
        flex-direction: column;
    }

    .contacts-link {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .contacts-link:hover,
    .nav-link:focus,
    .contacts-link:focus {
        color: #404bbf;
    }    
}    


@media screen and (min-width: 1158px) {

    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        gap: 40px;
    }

    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }


}

/* -------MOBILE MENU------ */


.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1000;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition:
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    height: 24px;
    width: 24px;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #e7e9fc;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.mobile-menu-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover .mobile-menu-close-icon,
.mobile-menu-close-btn:focus .mobile-menu-close-icon {
    fill: #fff;
}

.mobile-nav {
    margin-bottom: auto;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-nav-link.active {
    color: #404bbf;
}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contacts-link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-contacts-item.active .mobile-contacts-link {
    color: #4d5ae5;
}

.mobile-socials-team {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.mobile-socials-item {
    width: 40px;
    height: 40px;
}

.mobile-socials-icon {
    fill: #f4f4fd;
}

.mobile-socials-link:hover,
.mobile-socials-link:focus {
    background-color: #404bbf;
}

.mobile-socials-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}


/* -----HERO----- */


.hero {
    padding: 72px 0;
}

.hero {
    max-width: 320px;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/bg-mobil.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #2e2f42;
    margin: 0 auto;
    background-color: #2e2f42;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/bg-mobil-x2.jpg);
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-title {
    max-width: 216px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button {
    display: block;
    margin: 0 auto;
    margin-top: 72px;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #404bbf;
}


@media screen and (min-width: 768px) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/bg-tabl.jpg);
        max-width: 768px;
        padding: 112px 0;
        background-position: center;
    }

    .main-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }

    .button {
        margin-top: 36px;
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/bg-tabl-x2.jpg);
        }
    }
}


@media screen and (min-width: 1158px) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
        max-width: 1440px;
        background-position: center;
        padding: 188px 0;
    }

    .button {
        margin-top: 48px;
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/people-office-x2.jpg);
        }
    }
}


/* -----FEATURES----- */


.features-icon-box {
    display: none;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.features-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.features-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.features-text {
    font-weight: 500;
}


@media screen and (min-width: 768px) {

    .features-list {
        flex-wrap: wrap;
        flex-direction: unset;
        gap: 72px 24px;
    }

    .features-item {
        justify-content: start;
        max-width: 356px;
    }
}


@media screen and (min-width: 1158px) {

   .features-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
   }

   .section {
       padding: 120px 0;
   }

   .section.hero {
       padding: 188px 0;
   }

   .features-text {
       font-weight: 400;
        margin-top: 8px;
   }

   .features-icon-box {
        border: 1px solid #8e8f99;
        background-color: #f4f4fd;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
   }

   .features-icon {
       display: block;
   }

   .features-list {
       display: flex;
       gap: 24px;
   }

   .features-item {
       gap: 0;
       width: calc((100% - 72px) / 4);
   }

}


/* -----OUR TEAM ----- */


.team-section {
    background-color: #f4f4fd;
}

.team-list {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
}

.team-card {
    margin: 0 auto;
    width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #ffffff;
}

.team-name, .section-paragraph {
    text-align: center
}

.team-name, .card-name {
    margin-bottom: 8px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-card-content {
    padding: 32px 16px;
}

.socials-team {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.socials-item {
    width: 40px;
    height: 40px;
}

.socials-link-item {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link-item:hover, 
.socials-link-item:focus {
    background-color: #404bbf;
}

.socials-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    .team-card {
        margin: 0;
    }
}

@media screen and (min-width: 1158px) {

    .section {
       padding: 120px 0;
    }

    .team-list {
       gap: 24px;
    }
}


/* -----PORTFOLIO----- */

.portfolio-list {
    margin-top: 72px;
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
}

.portfolio-card {
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus {
    box-shadow:
        0 2px 1px rgba(46, 47, 66, 0.08),
        0 4px 8px rgba(46, 47, 66, 0.16),
        0 8px 16px rgba(46, 47, 66, 0.08);
}

.portfolio-card-content {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-image {
    max-width: 288px;
}

.card-name {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    font-family: "Roboto", sans-serif;
}

.portfolio-card:hover .overlay {
    transform: translateY(0);
}

@media screen and (min-width: 768px) {

    .portfolio-list {
        gap: 72px 24px;
    }

    .portfolio-image {
         max-width: 356px;
    }

}

@media screen and (min-width: 1158px) {

    .portfolio-list {
        row-gap: 48px;
    }

    .portfolio-image {
        max-width: 360px;
    }

   .portfolio-card {
        box-shadow: none;
   }
}



/* -----FOOTER----- */


.page-footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: baseline;
    text-align: center;
}

.footer-info {
    gap: 16px;
    
    display: flex;
    flex-direction: column
}

.footer-logo {
    margin: 0 auto;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logo-part-footer, 
.text-footer {
    color: #f4f4fd;
}

.footer-social {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.footer-social-title {
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
}

.socials-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.socials-item {
    width: 40px;
    height: 40px;
}

.socials-icon-box:hover,
.socials-icon-box:focus {
    background-color: #31d0aa;
}

.socials-icon-box {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon {
    fill: #f4f4fd;
}

.footer-subscribe {
    margin: 0 auto;
    /* margin-left: auto; */
    text-align: center;
}

.footer-subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    color: #fff;
}

.form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.form-input {
    color: #fff;
    background-color: transparent;
    padding: 8px 16px;
    border: 1px solid #fff;
    outline: none;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.form-input::placeholder {
    color: #fff;
}

.form-input:focus {
    border-color: #31d0aa;
}

.footer-form-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus {
    background-color: #31d0aa;
}

.footer-btn-icon {
    fill: #fff;
}

input,
textarea,
button {
    font-family: inherit;
    line-height: inherit;
}

.form-footer input {
    padding: 12px 14px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    width: 264px;
    height: 40px;
    outline: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    width: 264px;
}

.form-footer input::placeholder {
    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.form-footer input:hover,
.form-footer input:focus {
    border-color: #31d0aa;
}

@media screen and (min-width: 768px) {

    .page-footer {
        padding: 96px 0 96px 92px;
    }

    .footer-container {
        flex-wrap: wrap;
        flex-direction: unset;
        gap: 72px 24px;
    }

    .text-footer {
        width: 264px;
    }

    .footer-logo {
        margin: 0;
    }

    .footer-social {
        text-align: left;
        margin: 0;
    }

    .footer-subscribe {
        text-align: left;
        margin: 0;
    }

    .form-input {
        width: 264px;
    }

    .form-footer {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .page-footer {
        padding: 100px;
    }

    .footer-container {
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 0;
    }

    .text-footer {
        max-width: 264px;
    }

    .footer-info {
        margin-right: 120px;
    }

    .footer-subscribe {
        margin-left: auto;
    }
}



.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    ;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    position: relative;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    width: 288px;
    min-height: 584px;
    overflow-y: auto;
    padding: 72px 16px 24px 16px;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        padding: 72px 24px 24px 24px;
    }

    .form-input {
        width: 360px;
    }
}

.form {
    display: flex;
    flex-direction: column;
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    cursor: pointer;
    color: #2e2f42;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border-color: transparent;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
    fill: #ffffff;
}

.modal-titel {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 360px;
    /* margin-top: 72px; */
    margin-top: 0;
    margin-bottom: 16px;
}

.form-input {
    height: 40px;
}

.form-label {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.input-wrap {
    position: relative;
    display: inline-block;
    margin-top: 4px;
}

.input-wrap .form-input {
    padding-left: 38px;
}

.input-wrap .input-icon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 24px;
    fill: rgba(46, 47, 66, 0.4);
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap .form-input:focus+.input-icon {
    fill: #4d5ae5;
}

.textarea {
    resize: none;
    height: 120px;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    margin-bottom: 16px;
}

.form-input,
.textarea {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 4px;
}

.form-input:focus,
.textarea:focus {
    border-color: #4d5ae5;
    outline: none;
}

.textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.policy-label {
    display: flex;
    border-radius: 4px;
    width: 360px;
    height: 16px;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: #fcfcfc;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.custom-checkbox::after {
    content: icon;
    width: 10px;
    height: 8px;
    border-left: 2px solid #4f5ee3;
    border-bottom: 2px solid #4f5ee3;
    transform: rotate(-45deg);
    display: flex;
    opacity: 0;
    margin-bottom: 2px;
}

.policy-text a {
    color: #4d5ae5;
    text-decoration: underline;
}

.policy-text a:hover {
    text-decoration: underline;
}

.modal-check-icon {
    display: none;
    width: 10px;
    height: 8px;
    fill: #f4f4fd;
}

.policy-label input:checked+.custom-checkbox {
    background-color: #404bbf;
    border-color: #404bbf;
}

.policy-label input:checked+.custom-checkbox .modal-check-icon {
    display: block;
}

.policy-label input:focus+.custom-checkbox {
    box-shadow: 1px solid rgba(46, 47, 66, 0.4);
    ;
}

.form-button {
    border-radius: 4px;
    cursor: pointer;
    border: none;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    margin-top: 24px;
    color: #fff;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #404bbf;
}